{% extends 'common/base.html' %}

{% block title %}All Posts{% endblock %}

{% block content %}
    <div class="container mt-4">

        <h1 class="text-center mb-4">All Posts</h1>
        {% include 'common/search-bar.html' %}

        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for post in posts %}
                <div class="col">
                    <div class="card h-100">
                        <img src="{{ post.image }}" class="card-img-top" alt="Post Image" style="height: 200px; object-fit: cover;">
                        <div class="card-body">
                            <h5 class="card-title">
                                {{ post.title }}
                            </h5>
                            <p class="card-text">
                                {{ post.content|truncatewords:15 }}
                            </p>
                            <a href="{% url 'post-details' post.pk %}" class="btn btn-primary">Read More</a>
                        </div>
                    </div>
                </div>
            {% empty %}
                <div class="empty-container">
                    <p class="empty-message">No posts! You can create one!</p>
                    <a href="{% url 'create-post' %}" class="create-post-button">Create Post</a>
                </div>
            {% endfor %}
        </div>
    </div>
    
    <!-- Pagination -->
    {% include 'common/pagination.html' %}

{% endblock %}
