{% extends 'common/base.html' %}
{% load static %}
{% block title %}{{ team.name }}{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="card">
        {% if not team.logo %}
            <img src="{% static 'images/team-default-logo.png' %}" alt="Default Profile Picture" class="img-fluid rounded-circle mx-auto d-block mb-3" style="margin-top: 10px; width: 150px; height: 150px;">

        {% else %}
            <img src="{{ team.logo }}" class="img-fluid rounded-circle mx-auto d-block mb-3" style="margin-top: 10px; width: 150px; height: 150px;">
        {% endif %}
        <div class="card-body">
            <h1 class="card-title text-center">{{ team.name }}</h1>
            <p>
                <strong>Stadium:</strong> 
                {% if team.stadium %}
                    {{ team.stadium }}
                {% else %}
                    N/A
                {% endif %}
            </p>
            <p><strong>Foundation Year:</strong> {{ team.foundation_year }}</p>
        
            {% if can_edit %}
                <a href="{% url 'team-edit' team.pk %}" class="btn btn-warning mt-3">Edit Team</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
