{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static 'images/forum-icon.png' %}" alt="Forum Icon" style="width: 30px;"> Football Forum
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'post-list' %}">Posts</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'team-list' %}">Teams</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'player-list' %}">Players</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'profile-details' user.pk %}">My Profile</a></li>
                    <li class="nav-item">
                        <form method="post" action="{% url 'logout' %}" class="d-inline">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-link nav-link">Logout</button>
                        </form>                    
                    </li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'create-post' %}">Create Post</a></li>
                    
                {% else %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Login</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'register' %}">Register</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
